/**
 * common global element styles
 */
body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

pre {
  padding: 10px;
  overflow: auto;
}

pre, code {
  background-color: #f2f3f8;
}

a:hover {
  text-decoration: underline;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

/**
 * utility classes
 */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  width: 50%;
}

a.large-button {
  background-color: #f2f3f8;
  padding: 10px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease .1s;
  -webkit-transition: ease .1s;
}


a.large-button:hover {
  -webkit-box-shadow: 4px 4px 9px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 9px -3px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 9px -3px rgba(0,0,0,0.75);
}


/**
  Navbar component
 */


.navbar {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo {
  flex-grow: 1;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 10px;
  display: flex;
}

.navbar-logo img {
  height: 22px;
  margin-right: 5px;
}

.navbar-links {
  flex-grow: 0;
  margin-right: 10px;
}

.navbar-links a {
  margin: 0px 10px;
}


/**
 * content
 */
.content {
  flex-grow: 1;
}

.background-container {
  padding: 40px;
  background-color: black;
  color: white;
}

#background {
  max-width: 800px;
  margin: 0 auto;
}

#usage {
  margin: 0 auto;
  max-width: 900px;
  padding: 30px;
}

/**
 * footer
 */
.footer {
  flex-grow: 0;
  display: flex;
  height: 20px;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: black;
}
